{% for mail in mail %}

    {{ eamil.mail }}
    <!-- Read book buttons 
    <button type="button" class="bs-modal read-book btn btn-sm btn-primary" data-form-url="{% url 'read_book' book.pk %}">
      <span class="fa fa-eye"></span>
    </button>

    <button type="button" class="update-book btn btn-sm btn-primary" data-form-url="{% url 'update_book' book.pk %}">
      <span class="fa fa-pencil"></span>
    </button>

    <button type="button" class="bs-modal delete-book btn btn-sm btn-danger" data-form-url="{% url 'delete_book' book.pk %}">
      <span class="fa fa-trash"></span>
    </button>-->

{% endfor %}